.navbar {
  background-color: var(--accent-bg-color);
  flex: 0 0 50px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  .mainMenu {
    padding-left: 0px;
    list-style: none;
    button {
      margin-bottom: 10px;
    }
  }
}
