.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.note-admin {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.note-form {
  .field {
    margin-bottom: 10px;
  }
}

.note {
  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
