.note-admin {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
}

.note-form {
  .field {
    margin-bottom: 10px;
  }
}

.note {
  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  &__title {
    font-size: 1.2rem;
    border-bottom: 3px solid #ddd;
    margin-bottom: 10px;
  }
  &__description {
    color: #777;
  }
  &__category {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.9rem;
    margin-top: 10px;
    &__circle {
      width: 14px;
      height: 14px;
      border-radius: 50%;
    }
  }
}

.customNoteCard {
  // height: 100%;
}
