:root {
  --bg-color: #fff;
  --accent-bg-color: #fff;
  --bg-action: #fff;
  --text-color: #222;
}
// @media (prefers-color-scheme: light) {
//   :root {
//     --bg-color: #fff;
//     --accent-bg-color: #fff;
//     --bg-action: #fff;
//     --text-color: #222;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --bg-color: #222;
//     --bg-action: #333;
//     --accent-bg-color: #1e1e1e;
//     --text-color: #fff;
//   }
// }

* {
  font-family: 'PT Sans', sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.navbarContainer {
  display: flex;
  height: 100vh;
}

.viewContainer {
  flex: 1 1 200px;
  padding: 10px;
}

.ant-btn {
  background-color: var(--bg-action);
  border-color: var(--accent-bg-color);
  &:hover {
    background-color: var(--bg-action);
  }
}
